.DiveDisplay {
    text-align: center;
    align-content: center;
    display: flex;
    justify-content: space-around;
    width: 96%;
    padding: 1%;
    margin: 2%;
    border: 0.4vh rgb(243, 238, 238) solid;
    border-radius: 1.4vh;
}
.DiveDisplay:hover{
    cursor: pointer;
}

.diveName {
    width: 30%;
    flex-grow: 3;
}

.meterAndMinute {
    flex-grow: 1;
}

.diveDate {
    flex-grow: 1;
}